
<%= form_tag%>
<%= form_for(:session, url: login_path) do |f| %>
<%= f.label :email%>
<%= f.text_field :email%>
<br>
<%= f.label :password%>
<%= f.password_field :password%>
<br>
<%= f.submit %>
<%end%>
<br>
<%= link_to('Log in with Facebook!', '/auth/facebook') %>
<br>
<br>
<p>Or <%= link_to "sign up", new_user_path %> here</p>