<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@post.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%if !com_params?%>
<%= form_for @post do |f| %>
    <%= f.label :content, 'Whats on your mind?'%>
    <%= f.text_area :content%>
    <%= f.submit %>
<% end %>

<%else%>
<%= form_for @post do |f| %>
    <%= f.hidden_field(:community_id, :value => params[:community_id])%>
    <%= f.label :content, 'Whats on your mind?'%>
    <%= f.text_area :content%>
    <%= f.submit %>
<% end %>
<% end %>

