
<%if @user%>
    <ul>
    <% @user.identities.each do |i|%>
    <%id = i.community_id%>
    <li><%= link_to i.community.name, community_path(id) %></li>
    <% end %>
    <br>
    </ul>
<%end %>
<br>



<h1>Latest Posts </h1>

<% if com_params?%>
<%= render 'community_posts'%>
<% else %>
<%= link_to "make a new post", new_post_path %>
<br>
<br>
<br>
<br>
<% @posts.reverse.each do |p|%>

<h4><%=link_to p.user.name, user_path(p.user)%> says</h4>

<h3><%= p.content %></h3>
<%= form_for @like do |f| %>
<%= f.hidden_field(:user_id, :value => @user.id)%>
<%= f.hidden_field(:post_id, :value => p.id)%>
<%= f.submit 'like'%>
<% end %>


<%= link_to 'view post', post_path(p)%>

<br>
<br>
<br>
<br>
<% end %>
<%end%>


