<br>
<br>
<h3>Post from <%= @post.user.name%></h3>
<h2><%= @post.content%></h2>

<%= form_for @like do |f| %>
<%= f.hidden_field(:user_id, :value => @current_user.id)%>
<%= f.hidden_field(:post_id, :value => @post.id)%>
<%= @post.likes.count%> <%= link_to "likes", post_likes_path(@post) %> 
<%= f.submit 'like'%>
<% end %>

<% if @current_user == @post.user %>

<%= button_to "Delete Post", post_path(@post), method: :delete %>
<%end%>
<br>
<br>

<% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@comment.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @comment do |f| %>
<%= f.label :content, "say something"%>
<%= f.text_area :content %>
<%= f.hidden_field :post_id, value: @post.id%>
<%= f.submit "submit comment"%>
<%end%>
<br>
<br>
<% @comments.each do |c|%>
<strong><%= c.user.name %> says</strong>
<%= c.content %>
<br>
<br>
<%end%>
